from utils import db
from models.client import Client
from models.article import Article
from models.type_article import TypeArticle
from models.commande import Commande
from models.view_type_article import ViewTypeArticle
from beautifultable import BeautifulTable
from pyfiglet import Figlet
from termcolor import colored
from datetime import datetime
import random
